@font-face {
  font-family: myFirstFont;
  src: url(CursedTimerULiL.woff);
}

body {
  background-color: #1b244a;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: Verdana;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.board {
  display: flex;
  justify-content: space-evenly;
}

.score {
  background-color: black;
  width: 155px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  color: #f94f6d;
  font-size: 90px;
  text-align: center;
  font-family: myFirstFont;
  padding-top: 20px;
}

.buttons {
  margin-top: 10px;
  margin-left: 2px;
}

button {
  font-family: myFirstFont;
  font-size: 18px;
  color: #9aabd8;
  background-color: #1b244a;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #9aabd8;
}

.plus1,
.plus2 {
  margin-right: 18px;
}
